<!DOCTYPE html>
<html>
<head>
    <title>History</title>
    <link rel="stylesheet" href="/static/style.css">
</head>

<body>

<div class="container">
    <br>
    <a href="/">← Back</a>
    <br>
    <h1>Summary History</h1>

    {% for item in summaries %}

        <div class="result-box">

            <strong>Date:</strong>

            <p>
                {{ item.created_at }}
            </p>

            <strong>Original:</strong>

            <p style="white-space: pre-wrap;">
            {{ item.original_text }}
            </p>

            <strong>Summary:</strong>

            <p>
                {{ item.summary }}
            </p>

            {% if item.actions %}

            <strong>Actions:</strong>

            <ul>

            {% for action in item.actions %}

            <li>{{ action }}</li>

            {% endfor %}

            </ul>

            {% endif %}

            {% if item.insights %}

            <strong>Insights:</strong>

            <ul>

            {% for insight in item.insights %}

            <li>{{ insight }}</li>

            {% endfor %}

            </ul>

            {% endif %}

            {% if item.findings %}

            <strong>Findings:</strong>

            <ul>

            {% for finding in item.findings %}

            <li>{{ finding }}</li>

            {% endfor %}

            </ul>

            {% endif %}

            {% if item.trends %}

            <strong>Trends:</strong>

            <ul>

            {% for trend in item.trends %}

            <li>{{ trend }}</li>

            {% endfor %}

            </ul>

            {% endif %}
            
            {% if item.sentiment %}

            <strong>Sentiment:</strong>

            <ul>

            {% for sentiment in item.sentiment %}

            <li>{{ sentiment }}</li>

            {% endfor %}

            </ul>

            {% endif %}

            {% if item.risk %}

            <strong>Risk:</strong>

            <ul>

            {% for risk in item.risk %}

            <li>{{ risk }}</li>

            {% endfor %}

            </ul>

            {% endif %}

            {% if item.root_cause %}

            <strong>Root Cause:</strong>

            <ul>

            {% for root_cause in item.root_cause %}

            <li>{{ root_cause }}</li>

            {% endfor %}

            </ul>

            {% endif %}

            {% if item.plan %}

            <h4>Execution Plan</h4>

            <pre width="50%" wrap="on">
            {{ item.plan | tojson(indent=2) }}
            </pre>

            {% endif %}

            {% if item.execution %}

           <h4>Execution Metadata</h4>

            <pre width="50%" wrap="on">
            {{ item.execution | tojson(indent=2) }}
            </pre>

            {% endif %}

        </div>

        <br>

    {% endfor %}
    <br><br>

    <a href="/">← Back</a>
</div>

</body>
</html>