<!DOCTYPE html>
<html>
<head>
    <title>AI Summarizer</title>
    <link rel="stylesheet" href="/static/style.css">
</head>

<body>

<div class="container">

    <h1>AI Text Summarizer</h1>

    <form id="summaryForm"
          action="/summarize"
          method="post">

        <textarea
            name="text"
            id="inputText"
            rows="10"
            minlength="20"
            placeholder="Paste your text here..."
            required></textarea>
        <p>
        Characters:
        <span id="charCount">0</span>
        </p>
        <br><br>

        <label>Summary Length:</label>

        <select name="summary_length">
            <option value="short">Short</option>
            <option value="medium" selected>Medium</option>
            <option value="long">Detailed</option>
        </select>

        <br><br>

        <button type="submit">
            Summarize
        </button>

    </form>

    <div id="loading" class="loading hidden">
        <div class="spinner"></div>
        <p>Generating summary...</p>
    </div>


    <hr>

    <h3>Upload PDF</h3>

    <form
    action="/upload-pdf"
    method="post"
    enctype="multipart/form-data">

        <input
            type="file"
            name="file"
            accept=".pdf">

        <br><br>

        <button type="submit">
            Summarize PDF
        </button>

    </form>

    <br>

    <a href="/history">
        View Summary History
    </a>
    <br>

    <a href="/dashboard">
        Dashboard
    </a>
</div>



<script>
const input =
document.getElementById("inputText");

const count =
document.getElementById("charCount");

input.addEventListener("input", () => {
    count.innerText =
        input.value.length;
});
</script>
<script>
document
.getElementById("summaryForm")
.addEventListener("submit", function () {

    document
    .getElementById("loading")
    .classList.remove("hidden");
});
</script>
<script>
  function showMessage() {
    if (document.getElementById("inputText").value.trim().length < 20) {
        alert("Please enter more text before summarizing.");
        document.getElementById("inputText").style.borderColor = "red";
        return false;
    }
  }
</script>
</body>
</html>